In [28]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
nyc_data = pd.read_csv('C:\\Users\\mruta\\Downloads\\MTA_Monthly_Ridership___Traffic_Data__Beginning_January_2008_20231030.csv')
chicago_data = pd.read_csv('C:\\Users\\mruta\Downloads\\CTA_-_Ridership_-_Daily_Boarding_Totals_20231030.csv')

In [3]:
nyc_data.head

<bound method NDFrame.head of        Month  Bus Ridership  Subway Ridership  AAR Ridership  LIRR Ridership  \
0    2008-01     60877526.0       130687792.0       534704.0       7078442.0
1    2008-02     57565433.0       125878662.0       508414.0       6616912.0
2    2008-03     63958459.0       137148128.0       573055.0       7149326.0
3    2008-04     63825353.0       136528969.0       584993.0       7259848.0
4    2008-05     65772096.0       140151863.0       600752.0       7306098.0
..       ...            ...               ...            ...             ...
182  2023-03     31816007.0       101125983.0       933767.0       5235497.0
183  2023-04     28568216.0        94208818.0       873601.0       4988126.0
184  2023-05     31676828.0       104514926.0       955315.0       5634423.0
185  2023-06     28920519.0        97518473.0            NaN       5768267.0
186      NaN            NaN               NaN            NaN             NaN

     MNR Ridership         B&T
0        6453734.0  23956124.0
1        6144377.0  22447197.0
2        6602280.0  25164876.0
3        6787480.0  24900328.0
4        6840901.0  26172575.0
..             ...         ...
182      4892664.0  28015296.0
183      4744572.0  27529119.0
184      5376759.0  29858506.0
185      5300472.0         NaN
186            NaN         NaN

[187 rows x 7 columns]>

In [4]:
chicago_data.head

<bound method NDFrame.head of      service_date day_type     bus  rail_boardings  total_rides
0      01/01/2001        U  297192          126455       423647
1      01/02/2001        W  780827          501952      1282779
2      01/03/2001        W  824923          536432      1361355
3      01/04/2001        W  870021          550011      1420032
4      01/05/2001        W  890426          557917      1448343
...           ...      ...     ...             ...          ...
8273   06/26/2023        W  445453          323554       769007
8274   06/27/2023        W  496729          395754       892483
8275   06/28/2023        W  496731          392034       888765
8276   06/29/2023        W  470303          393963       864266
8277   06/30/2023        W  473836          378120       851956

[8278 rows x 5 columns]>

In [5]:
nyc_data = nyc_data.drop(185)
nyc_data = nyc_data.drop(186)

In [6]:
nyc_data.head

<bound method NDFrame.head of        Month  Bus Ridership  Subway Ridership  AAR Ridership  LIRR Ridership  \
0    2008-01     60877526.0       130687792.0       534704.0       7078442.0
1    2008-02     57565433.0       125878662.0       508414.0       6616912.0
2    2008-03     63958459.0       137148128.0       573055.0       7149326.0
3    2008-04     63825353.0       136528969.0       584993.0       7259848.0
4    2008-05     65772096.0       140151863.0       600752.0       7306098.0
..       ...            ...               ...            ...             ...
180  2023-01     28312599.0        88997973.0       820516.0       4632771.0
181  2023-02     26607132.0        84353096.0       795674.0       4296380.0
182  2023-03     31816007.0       101125983.0       933767.0       5235497.0
183  2023-04     28568216.0        94208818.0       873601.0       4988126.0
184  2023-05     31676828.0       104514926.0       955315.0       5634423.0

     MNR Ridership         B&T
0        6453734.0  23956124.0
1        6144377.0  22447197.0
2        6602280.0  25164876.0
3        6787480.0  24900328.0
4        6840901.0  26172575.0
..             ...         ...
180      4495592.0  25826066.0
181      3965333.0  24017773.0
182      4892664.0  28015296.0
183      4744572.0  27529119.0
184      5376759.0  29858506.0

[185 rows x 7 columns]>

In [7]:
nyc_data.info

<bound method DataFrame.info of        Month  Bus Ridership  Subway Ridership  AAR Ridership  LIRR Ridership  \
0    2008-01     60877526.0       130687792.0       534704.0       7078442.0
1    2008-02     57565433.0       125878662.0       508414.0       6616912.0
2    2008-03     63958459.0       137148128.0       573055.0       7149326.0
3    2008-04     63825353.0       136528969.0       584993.0       7259848.0
4    2008-05     65772096.0       140151863.0       600752.0       7306098.0
..       ...            ...               ...            ...             ...
180  2023-01     28312599.0        88997973.0       820516.0       4632771.0
181  2023-02     26607132.0        84353096.0       795674.0       4296380.0
182  2023-03     31816007.0       101125983.0       933767.0       5235497.0
183  2023-04     28568216.0        94208818.0       873601.0       4988126.0
184  2023-05     31676828.0       104514926.0       955315.0       5634423.0

     MNR Ridership         B&T
0        6453734.0  23956124.0
1        6144377.0  22447197.0
2        6602280.0  25164876.0
3        6787480.0  24900328.0
4        6840901.0  26172575.0
..             ...         ...
180      4495592.0  25826066.0
181      3965333.0  24017773.0
182      4892664.0  28015296.0
183      4744572.0  27529119.0
184      5376759.0  29858506.0

[185 rows x 7 columns]>

In [10]:
nyc_data.columns

Index(['Month', 'Bus Ridership', 'Subway Ridership', 'AAR Ridership',
       'LIRR Ridership', 'MNR Ridership', 'B&T'],
      dtype='object')

In [11]:
int_columns = nyc_data.columns[1:]
nyc_data[int_columns] = nyc_data[int_columns].astype(int)

In [12]:
nyc_data.info

<bound method DataFrame.info of        Month  Bus Ridership  Subway Ridership  AAR Ridership  LIRR Ridership  \
0    2008-01     60877526.0       130687792.0       534704.0       7078442.0
1    2008-02     57565433.0       125878662.0       508414.0       6616912.0
2    2008-03     63958459.0       137148128.0       573055.0       7149326.0
3    2008-04     63825353.0       136528969.0       584993.0       7259848.0
4    2008-05     65772096.0       140151863.0       600752.0       7306098.0
..       ...            ...               ...            ...             ...
180  2023-01     28312599.0        88997973.0       820516.0       4632771.0
181  2023-02     26607132.0        84353096.0       795674.0       4296380.0
182  2023-03     31816007.0       101125983.0       933767.0       5235497.0
183  2023-04     28568216.0        94208818.0       873601.0       4988126.0
184  2023-05     31676828.0       104514926.0       955315.0       5634423.0

     MNR Ridership         B&T
0        6453734.0  23956124.0
1        6144377.0  22447197.0
2        6602280.0  25164876.0
3        6787480.0  24900328.0
4        6840901.0  26172575.0
..             ...         ...
180      4495592.0  25826066.0
181      3965333.0  24017773.0
182      4892664.0  28015296.0
183      4744572.0  27529119.0
184      5376759.0  29858506.0

[185 rows x 7 columns]>

In [13]:
chicago_data.columns

Index(['service_date', 'day_type', 'bus', 'rail_boardings', 'total_rides'], dtype='object')

In [14]:
chicago_data.info

<bound method DataFrame.info of      service_date day_type     bus  rail_boardings  total_rides
0      01/01/2001        U  297192          126455       423647
1      01/02/2001        W  780827          501952      1282779
2      01/03/2001        W  824923          536432      1361355
3      01/04/2001        W  870021          550011      1420032
4      01/05/2001        W  890426          557917      1448343
...           ...      ...     ...             ...          ...
8273   06/26/2023        W  445453          323554       769007
8274   06/27/2023        W  496729          395754       892483
8275   06/28/2023        W  496731          392034       888765
8276   06/29/2023        W  470303          393963       864266
8277   06/30/2023        W  473836          378120       851956

[8278 rows x 5 columns]>

In [15]:
chicago_data['service_date'] = pd.to_datetime(chicago_data['service_date'])

In [16]:
chicago_data.info

<bound method DataFrame.info of      service_date day_type     bus  rail_boardings  total_rides
0      2001-01-01        U  297192          126455       423647
1      2001-01-02        W  780827          501952      1282779
2      2001-01-03        W  824923          536432      1361355
3      2001-01-04        W  870021          550011      1420032
4      2001-01-05        W  890426          557917      1448343
...           ...      ...     ...             ...          ...
8273   2023-06-26        W  445453          323554       769007
8274   2023-06-27        W  496729          395754       892483
8275   2023-06-28        W  496731          392034       888765
8276   2023-06-29        W  470303          393963       864266
8277   2023-06-30        W  473836          378120       851956

[8278 rows x 5 columns]>

In [17]:
nyc_data['city'] = 'NYC'
nyc_data['transportation_type'] = 'metro'
nyc_data.rename(columns={'Month': 'month', 'Ridership': 'ridership_count'}, inplace=True)

In [18]:
chicago_data['city'] = 'Chicago'
chicago_data['transportation_type'] = 'bus'
chicago_data.rename(columns={'Date': 'month', 'Ridership': 'ridership_count'}, inplace=True)

In [23]:
combined_data = pd.concat([nyc_data, chicago_data])

In [30]:
db_string = "postgresql://mrutallie:Goldentre34!@localhost/public_transit"

In [32]:
engine = create_engine(db_string)

In [34]:
combined_data.to_sql('monthly_totals', engine, if_exists='replace', index=False)

463

# SQL code to create and modify database/table(s)

- CREATE TABLE bus_monthly_totals AS
- SELECT *
- FROM monthly_totals
- WHERE transportation_type = 'bus';

- CREATE TABLE metro_monthly_totals AS
- SELECT *
- FROM monthly_totals
- WHERE transportation_type = 'metro';